<a href="https://colab.research.google.com/github/angirov/pubmed_crawler/blob/main/forflask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [2]:
file_name = '/gdrive/MyDrive/dsr/pubmed_data/sim_df.pkl'

In [3]:
import pandas as pd
import numpy as np
import pickle

In [4]:
df = pd.read_pickle(file_name)

In [5]:
df

,0,1,2,3,4,5,6,7,8,9,...,9299,9300,9301,9302,9303,9304,9305,9306,9307,9308
0,1.000000,0.626789,0.148791,0.110546,0.335593,0.151811,0.544915,0.380192,0.351495,0.160696,...,0.151358,0.168191,0.173637,0.156012,0.174287,0.189746,0.207088,0.228535,0.237450,0.261794
1,0.626789,1.000000,0.239629,0.141296,0.655170,0.307300,0.459491,0.414639,0.337669,0.258831,...,0.139820,0.146820,0.137639,0.134835,0.148913,0.158771,0.192759,0.216693,0.245129,0.249324
2,0.148791,0.239629,1.000000,0.576578,0.181132,0.822882,0.332331,0.596367,0.282409,0.340346,...,0.174624,0.183827,0.163742,0.188220,0.193019,0.205257,0.213115,0.234111,0.258677,0.244408
3,0.110546,0.141296,0.576578,1.000000,0.230561,0.460819,0.174373,0.403857,0.161248,0.305373,...,0.364799,0.390675,0.386893,0.389627,0.384433,0.381559,0.347143,0.339690,0.328594,0.316521
4,0.335593,0.655170,0.181132,0.230561,1.000000,0.282312,0.179329,0.331009,0.315632,0.336410,...,0.222168,0.214627,0.201992,0.236761,0.240222,0.236906,0.257318,0.261026,0.271716,0.271407
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9304,0.189746,0.158771,0.205257,0.381559,0.236906,0.218698,0.221723,0.173739,0.253175,0.329600,...,0.527481,0.663500,0.726782,0.938148,0.982331,1.000000,0.980276,0.929962,0.855192,0.773803
9305,0.207088,0.192759,0.213115,0.347143,0.257318,0.244787,0.212319,0.201034,0.266838,0.325339,...,0.516996,0.613527,0.658264,0.865531,0.931918,0.980276,1.000000,0.978050,0.922598,0.851435
9306,0.228535,0.216693,0.234111,0.339690,0.261026,0.283959,0.210948,0.226105,0.287386,0.338762,...,0.519846,0.590699,0.617145,0.788029,0.858047,0.929962,0.978050,1.000000,0.977355,0.920115
9307,0.237450,0.245129,0.258677,0.328594,0.271716,0.318011,0.238223,0.259632,0.297076,0.335684,...,0.510861,0.569467,0.581963,0.710578,0.772636,0.855192,0.922598,0.977355,1.000000,0.970596
9308,0.261794,0.249324,0.244408,0.316521,0.271407,0.295282,0.239031,0.268357,0.303794,0.330755,...,0.505844,0.534059,0.536505,0.630657,0.682590,0.773803,0.851435,0.920115,0.970596,1.000000

In [6]:
with open('authors_list.pkl','rb') as f:
    authors = pickle.load(f)

In [7]:
authors[:10]

['Doudna JA',
 'Savage DF',
 'Armstrong M',
 'Harris AR',
 'Hsu PD',
 'Switz NA',
 'Nogales E',
 'Fletcher DA',
 'Ott M',
 'Kumar GR']

In [8]:
author_1, author_2 = 'Doudna JA', 'Savage DF'

In [10]:
# def get_index(lst, author):
#   try:
#     return lst.index(author)
#   except ValueError:
#     assert False, f"Author {author} does not exist!"

def get_score(lst, author_1, author_2):
  try:
    id_1 = lst.index(author_1)
    id_2 = lst.index(author_2)
  except ValueError:
    return "One of the others does not exist"
  return str(int(df[id_1][id_2] * 100))

score = get_score(authors, 'Doudna JA', 'Savage DF')
print(score)

62